<h1>{{ title | titlecase }}</h1>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<h2>Today is {{ date | date:'fullDate':'+2':'it-IT'}}</h2>
<h2>{{'the quick brown fox'| ucfirst}}</h2>
<h2>We have {{money | currency:'EUR':'code':'4.2-2':'it-IT'}}</h2>
<div class="main container-fluid">
  <div class="row">
    <div class=" col-md-6">
      <a href="#" class="btn-sm btn-warning" (click)="newUser()">Nuovo Utente</a>
      <app-users (updateUser)="updateUser($event)"></app-users>
    </div>
    <div class=" col-md-6" *ngIf="showForm">
        <i class="far fa-times-circle" (click)="closeForm()"></i>
      <div class="">
        <app-user-detail [user]="userSelected"></app-user-detail>
      </div>
    </div>
  </div>
</div>


