<div class="form-group">
  <label for="my-input">First Name</label>
  <input id="my-input" class="form-control" type="text">
</div>
<div class="form-group">
  <label for="my-input">Last Name</label>
  <input id="my-input" class="form-control" type="text">
</div>
<div class="form-group">
  <label for="my-input">Fiscal</label>
  <input id="my-input" class="form-control" type="text">
</div>
<div class="form-group">
  <label for="my-input">Email</label>
  <input id="my-input" class="form-control" type="email">
</div>
<div class="form-group">
  <label for="my-input">Phone</label>
  <input id="my-input" class="form-control" type="text">
</div>
<div class="form-group">
  <button class="btn">
          Notification <span class="badge badge-primary"></span>
  </button>
</div>
